@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale {
  filter: grayscale(1);
}
:root {
  --background: theme('colors.lime.400');
  --background-secondary: theme('colors.lime.50');

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.purple.600');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.800');
  --primary-medium: theme('colors.gray.600');
  --primary-light: theme('colors.gray.400');
}

[data-theme='dark'] {
  --background: theme('colors.gray.200');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.teal.600');
  --accent-medium: theme('colors.amber.500');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.white');
  --primary-medium: theme('colors.lime.500');
  --primary-light: theme('colors.gray.100');
}

